@import '../../../../styles.scss';

.flw-header {
  background-color: $blue-900;
  color: $black-000;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
  .flw-logo-wrapper {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
    .flw-site-name {
      font-family: $font-iceland;
      font-size: 28px;
      margin-left: 10px;
    }
  }
}