<div class="flw-form-config">
  <div class="flw-config-header">
    Form
  </div>
  <div class="flw-config-list-wrapper">
    <mat-accordion displayMode="flat">
      <ng-container *ngFor="let configItem of formConfig">
        <app-config-list-item [config]="configItem" [configType]="configItem.configType"></app-config-list-item>
      </ng-container>
    </mat-accordion>
  </div>
  <div class="flw-form-config-wrapper">
    <div class="flw-config-header">
      Components
    </div>
    <div class="flw-config-list-wrapper">
      <mat-accordion displayMode="flat">
        <ng-container *ngFor="let configItem of componentConfig">
          <app-config-list-item [config]="configItem" [configType]="configItem.configType"></app-config-list-item>
        </ng-container>
      </mat-accordion>
      </div>
  </div>
</div>