.flw-dashboard {
  display: flex;
  height: calc(100vh - 64px);
  .flw-height {
      overflow-y: auto;
    }
  .flw-form-configuration {
      width: 324px;
      min-width: 324px;
    }
  .flw-form-viewer {
    flex-grow: 1;
  }
  .flw-configuration-viewer {
    width: 390px;
    min-width: 390px;
  }
}