@import '../../../../../../../../../styles';

.flw-basic-setting-config {
  font-size: 13px;
  padding: 15px 10px;
  line-height: 18px;
  .flw-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}