<div *ngIf="form && configList" class="flw-form-container">
  <form [formGroup]="form" class="flw-form">
    <ng-container *ngFor="let configItem of configList">
      <ng-container [ngSwitch]="configItem.type">
        <div class="flw-form-separator" *ngIf="configItem.aboveSeparator"></div>
        <!-- Input -->
        <div class="flw-form-field" *ngSwitchCase="'input'">
            <label [for]="configItem.name">{{configItem.label}}
              <span *ngIf="configItem.required">*</span>
            </label>
            <div class="form-field-wrapper">
              <ng-container *ngIf="configItem.isAddable">
                <div class="form-list-wrapper" [formArrayName]="configItem.name">
                  <div class="form-list" *ngFor="let option of getOptions(configItem.name).controls; let optionIndex = index">
                    <button (click)="onRemoveSubField(configItem.name, optionIndex)" mat-icon-button color="primary">
                      <mat-icon>remove</mat-icon>
                    </button>
                    {{optionIndex + 1}}: 
                    <mat-form-field appearance="outline">
                      <input [id]="configItem.name" matInput [placeholder]="configItem.placeholder ?  configItem.placeholder : ''"
                        [formControlName]="optionIndex" placeholder="{{configItem.placeholder}}">
                    </mat-form-field>
                  </div>
                  <button (click)="onAddSubField(configItem.name)" mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </ng-container>
                <ng-container *ngIf="!configItem.isAddable">
                  <mat-form-field appearance="outline">
                    <input [id]="configItem.name" matInput [placeholder]="configItem.placeholder ?  configItem.placeholder : ''"
                      [formControlName]="configItem.name" placeholder="{{configItem.placeholder}}">
                  </mat-form-field>
                </ng-container>
            </div>
            </div>
            <!-- Checkbox -->
        <div  class="flw-form-field" *ngSwitchCase="'checkbox'">
          <span class="flw-label">
            {{configItem.label}}
            <span *ngIf="configItem.required">*</span>
          </span>
          <mat-checkbox class="flw-checkbox" labelPosition="before" [formControlName]="configItem.name">
          </mat-checkbox>
        </div>
        <!-- Dropdown -->
        <div class="flw-form-field" *ngSwitchCase="'dropdown'">
            <label [for]="configItem.name">{{configItem.label}}
              <span *ngIf="configItem.required">*</span>
            </label>
            <div class="form-field-wrapper">
              <mat-form-field appearance="outline">
                <mat-select [id]="configItem.name" class="flw-select" [multiple]="configItem.multi" [placeholder]="configItem.placeholder ?  configItem.placeholder : ''" [formControlName]="configItem.name">
                  <mat-option [id]="option.value" class="flw-option" *ngFor="let option of configItem.options" [value]="option.value">
                    {{option.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <!-- Button-submit -->
        <div class="flw-btn-wrapper" *ngSwitchCase="'submit'">
          <button mat-flat-button (click)="onSubmit()" type="reset" color="primary" class="flw-add-btn">{{configItem.label}}</button>
        </div>
        <div class="flw-form-separator" *ngIf="configItem.belowSeparator"></div>
      </ng-container>
    </ng-container>
  </form>
</div>
