@import './assets/styles/variables.scss';

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// MatExpansionPanel
.mat-expansion-panel-body {
  padding: 0px !important;
}


//  MatTabGroup
.mat-tab-label {
  padding: 0px 20px !important;
  min-width: fit-content !important;
}

.flw-form {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 !important;
    border-top: 0.44375em solid transparent !important;
  }

  .mat-form-field-wrapper {
    padding: 0;
    background-color: $black-000;
    border-radius: 5px;
  }
}

.flw-add-btn {
  font-size: 14px;
  box-sizing: content-box;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 2.2px;
  justify-content: center;
}

.flw-light-theme {

  // Scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $black-700;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black-700;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $black-800;
  }
}

// Transitions
.mat-tab-header,
.mat-tab-label,
.mat-ink-bar,
.mat-tab-body-content,
.mat-icon-button,
.mat-stoked-button,
.flw-add-btn,
.mat-form-field-appearance-outline,
.mat-form-field-outline,
.mat-select-placeholder,
.mat-checkbox-frame {
  transition: $theme-transition;
}

// Dark theme
.flw-dark-theme {

  // Scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $night-blue-900;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $night-blue-400;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $night-blue-200;
  }

  .flw-option {
    background: $night-black-500;
  }
  .flw-option.mat-option:hover:not(.mat-option-disabled),
    .mat-option:focus:not(.mat-option-disabled) {
      background: $night-black-300;
    }

  .flw-panel-header>.mat-expansion-indicator:after {
    color: $night-black-300;
  }

  .flw-form {
    .mat-form-field-wrapper {
      border-radius: 6px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: $night-blue-400;
      border-radius: 5px;
    }

    .mat-select-placeholder,
    .mat-input-element::placeholder {
      color: $night-blue-200;
    }

    .mat-select-value,
    .mat-select-arrow {
      color: $night-black-000;
    }

    .mat-checkbox-frame {
      border-color: $night-black-500;
    }
  }

  .mat-icon-button {
    color: $night-light-pink;
  }

  .mat-stroked-button {
    border-color: $night-light-pink;
    color: $night-light-pink;
  }

  .flw-add-btn {
    background-color: $night-light-pink;
  }

  .mat-tab-header {
    border-color: $night-blue-600;
  }

  .mat-tab-label {
    color: $night-black-300;
  }

  .mat-tab-label-active {
    opacity: 1;
  }

  .mat-tab-label.mat-tab-disabled {
    color: $night-black-700;
  }

  .mat-ink-bar {
    background-color: $night-light-pink  !important;
  }

  .mat-tab-body-content {
    background-color: $night-blue-850;
    color: $night-black-200;
  }
}