<div class="flw-config-list-item">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="flw-panel-header">
        <mat-panel-title class="flw-panel-title">
          <div class="flw-list-label">
            {{label}}
          </div>
          <div class="flw-list-icon">
            <mat-icon>chevron_right</mat-icon>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>