@import '../../../../styles.scss';

.flw-config-list-item {
  .flw-panel-header {
    padding: 0px 13px;
    border-bottom: 1px solid $black-400;
    background-color: $black-200;
    .flw-panel-title {
      justify-content: space-between;
      padding: 9px 0px;
    }
  }
}